.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.sidebar button{
  box-shadow: 0px 0px 10px rgb(236, 235, 148);
  border-radius: 8px;
  border:none;
  background-color: white;
  height: 100px;
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color:black;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
